<html>
<head>
<title>Image Processing</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>
<body>

<center>

<h1>Image Processing</h1><hr>

<h2>Select a Image to Rotate</h2><br>

<form method="post" action="/" enctype="multipart/form-data">

	<input  class="btn btn-warning" type="file" name="file">
	<br>
	<input class="btn btn-primary" type="text" name="degree" placeholder="degree to rotate">
	<br>
	<br>
	<input type="submit" value="Submit" class="btn btn-success">
	<br>
	<br>
	<img src="{{ url_for('display_image', filename=filename) }}">
</form><br>
<br>

</center>

</body>
</html>




