<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
    }

    h1 {
        color: red;
        font-family: cursive;
    }

    iframe {
        width: 100%;
        height: 65%;
        border: none;
    }

</style>
</head>


<body>
    <h1>Covid Stats</h1> 
    <form method="post">
        <input placeholder="Enter Country Name" type="text" name="text">
        <input type="submit">
    </form>

    <iframe  src="{{ image }}"></iframe>
    <p>Visitors = {{ count }}</p>

</body>
</html>
